{% extends 'base.html.twig' %}
{% block content %}
    <div class="banner-bottom-w3layouts py-lg-5 py-3">
        <div class="container">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} <a href="{{ path('proposer') }}"><button type="button" class="btn btn-primary btn-lg">Proposer plante</button></a>{% endif %}
                <a data-toggle="collapse" data-target="#collapseExample" >
                    <button type="button" class="btn btn-secondary btn-lg">Catégorie</button>
               </a>
            <div class="collapse" id="collapseExample">
                <div class="list-group">
                    <a href="{{ path('filter',{'cat':'ALL'}) }}" class="list-group-item list-group-item-action">All</a>
                    <a href="{{ path('filter',{'cat':'Legume'}) }}" class="list-group-item list-group-item-action">Legume</a>
                    <a href="{{ path('filter',{'cat':'Fruit'}) }}" class="list-group-item list-group-item-action">Fruit</a>
                    <a href="{{ path('filter',{'cat':'Herbe'}) }}" class="list-group-item list-group-item-action" >Herbe</a>
                    <a href="{{ path('filter',{'cat':'Fleur'}) }}" class="list-group-item list-group-item-action" >Fleur</a>
                </div>
            </div>
            <div class="inner-sec-w3ls-agileits py-lg-5 py-3">
                <ul class="grid cs-style-5 row">
                    {% for plante in plantes %}
                        {% if plante.proposition %}
                    <li class="grid-info-img">
                        <figure>
                            <img src="{{ asset('uploads/avatar/'~plante.photo) }}" class="img-fluid" alt="img03">
                            <figcaption>
                                <h3>{{ plante.nom }}</h3>
                                <a href="{{ path('plantedetaile',{'id':plante.id}) }}">Détaille</a>
                            </figcaption>
                        </figure>
                    </li>
                        {% endif %}
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}