{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="single">
            <div class="blog-top-in">
                <div class="col-md-4 top-blog">
                    <img class="img-responsive" src="{{ asset('uploads/avatar/'~plante.photo) }}" alt=" " >
                </div>
                <div class="col-md-8 sed-in">
                    <h4>{{ plante.nom }}</h4>
                    <p>Hauteur: {{ plante.hauteur }}</p>
                    <p>fertiliseur: {{ plante.fertiliseur }}</p>
                    <p>categorie: {{ plante.categorie }}</p>
                    <p>season: {{ plante.season }}</p>
                    <p>Description:</p><p> {{ plante.Description }}</p>
                </div>
                <ul id="filters">
                <a data-toggle="collapse" data-target="#collapseExample" ><li><span class="filter" >
                   Ajouer au panier
               </span></li> </a>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div class="comment-grid-top" style="padding-left: 90px;">
    {% for sujet in sujets %}
        <div class="comments-top-top">
            <div class="top-comment-left">
                <img class="img-responsive " src="{{ asset('uploads/avatar/'~sujet.User.avatar) }}" alt="" />
            </div>
            <div class="top-comment-right">
                <ul>
                    <li><span class="left-at"> {{ sujet.User.nom }} {{ sujet.User.prenom }}</span></li>
                    <li><span class="right-at">{{ sujet.dateoriginal | date("y/m/d") }}</span></li>
                    <li><a class="reply" href="{{ path('consulter_sujet' , {'id': sujet.id}) }}">Repondre</a></li>
                </ul>
                <p> {{ sujet.sujetOriginal |raw }} </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
