{% extends 'admin_dashboard.html.twig' %}
{% block content %}
        <div class="main-panel">
            <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="w3-panel w3-green" >
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            <h4 class="card-title">Ajouter plante</h4>
                    {{ form_start(Form ,{'attr': {'class': 'forms-sample'}}) }}
                    {{ form_row(Form.photo, {'attr': {'class': 'file-upload-default'}}) }}
                    {{ form_row(Form.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(Form.Description, {'attr': {'class': 'form-control'}})}}
                    {{ form_row(Form.stock, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(Form.prix, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(Form.hauteur, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(Form.fertiliseur, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(Form.categorie, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(Form.season, {'attr': {'class': 'form-control'}}) }}
                            <div>
                                <input type="submit" value="envoyer" />
                            </div>
                    {{ form_end(Form) }}

                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
                </div>
            </footer>
        </div>
 {% endblock %}