{% extends 'base.html.twig' %}

{% block content %}

<!---->
<div class="container">
    <div class="single">
        <div class="blog-top-in">
            <div class="col-md-4 top-blog">
                <a href="#"><img class="img-responsive" src="{{ asset('Base/images/b3.jpg') }}" alt=" " ></a>
            </div>
            <div class="col-md-8 sed-in">
                <h4>SED LOREET ALIQUAM LEOTELLUS DOLOR DAPIBUS</h4>
                <ul>
                    <li><a href="#"><span><i> </i>Super user</span></a></li>
                    <li><span><i class="clock"> </i>June 14, 2013</span></li>
                    <li><span><i class="hit"> </i>Hits:145</span></li>
                </ul>
                <p>Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus pretium sit amet. Praesent lectus tortor, tincidu nt in consectetur vestibulum, ultrices nec neque. Praesent nec sagittis mauris. Fusce convallis nunc neque. Integer egestas aliquam interdum. Nulla ante diam, interdum nec tempus eu, feugiat vel erat. Integer aliquam mi quis accum san porta.
                    Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum. Integer fring illa leo porttitor, ultrices quam non, lobortis ligula. Aliquam vel consequat arcu.
                    Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum. Integer fring illa leo porttitor, ultrices quam non, lobortis ligula. Aliquam vel consequat arcu.
                    Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <p class="at-in">Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus pretium sit amet. Praesent lectus tortor, tincidu nt in consectetur vestibulum, ultrices nec neque. Praesent nec sagittis mauris. Fusce convallis nunc neque. Integer egestas aliquam interdum. Nulla ante diam, interdum nec tempus eu, feugiat vel erat. Integer aliquam mi quis accum san porta.
            Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum. </p>

        <div class="comment-grid-top">
            <div class="comments-top-top">
                <div class="top-comment-left">
                    <img class="img-responsive" src="{{ asset('Base/images/co.png') }}" alt="" />
                </div>
                <div class="top-comment-right">
                    <ul>
                        <li><span class="left-at"> Admin</span></li>
                        <li><span class="right-at">12 July 2014 at 10.30am</span></li>
                        <li><a class="reply" href="#">REPLY</a></li>
                    </ul>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="comments-top-top top-grid-comment">
                <div class="top-comment-left">
                    <img class="img-responsive" src="{{ asset('Base/images/co.png') }}" alt="" />
                </div>
                <div class="top-comment-right">
                    <ul>
                        <li><span class="left-at"> Admin</span></li>
                        <li><span class="right-at">12 July 2014 at 10.30am</span></li>
                        <li><a class="reply" href="#">REPLY</a></li>
                    </ul>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="comments-top-top top-grid-comment">
                <div class="top-comment-left">
                    <img class="img-responsive" src="{{ asset('Base/images/co.png') }}" alt="" />
                </div>
                <div class="top-comment-right">
                    <ul>
                        <li><span class="left-at"> Admin</span></li>
                        <li><span class="right-at">12 July 2014 at 10.30am</span></li>
                        <li><a class="reply" href="#">REPLY</a></li>
                    </ul>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="comments-top-top">
                <div class="top-comment-left">
                    <img class="img-responsive" src="{{ asset('Base/images/co.png') }}" alt="" />
                </div>
                <div class="top-comment-right">
                    <ul>
                        <li><span class="left-at"> Admin</span></li>
                        <li><span class="right-at">12 July 2014 at 10.30am</span></li>
                        <li><a class="reply" href="#">REPLY</a></li>
                    </ul>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}


