{% extends 'base.html.twig' %}

{% block content %}
    {% include 'forum_moderateur.html.twig' %}
<script type="text/javascript" src="{{ asset('forum/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('forum/modelbox/script.js') }}"> </script>



    {% if plante != null %} <!-- user va consulter la liste de sujet de plante -->

    <div class="container">
        <div class="userinfo ">
            <div class="avatar">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <img src="{{ asset('uploads/avatar/'~User.avatar) }}" alt="" style=" height:5vw ;  max-height: 5vw; max-width:5vw;" />
                {% endif %}
            </div>

            <div class="icons">
            </div>
        </div>
        <br>

        {% if errorsString != "" %}
           <p style="color: #ef5350; "> {{ errorsString }} </p>
        {% endif %}
        <form action="{{ path("ajouter_sujet",{'id': plante.id} ) }}"  method="post">

            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <textarea name="postoriginal"  id="content" rows="10" cols="80" placeholder="Ajouter un commentaire"></textarea>
                {% endif %}
                <script type="text/javascript">
                    CKEDITOR.replace('content');
                </script>

            </div>

            <br>

            <input type="submit" class="btn btn-primary pull-left" value="Poser Sujet" onclick="nouveauContenu();" style="border: 1px solid #43a047 ; background-color:#66bb6a; "/>

            <script type="text/javascript">
                function nouveauContenu(){
                    //CKEDITOR.instances.content.updateElement();
                    document.getElementById('demo').innerHTML =CKEDITOR.instances.content.getData();

                }
            </script>

        </form>

    </div>

{% endif %}

<br>

        <div class="container">
            {% if plante != null %} <!-- user va consulter la liste de sujet de plante -->
                <h3> Liste du sujet de la plante {{ plante.nom }} :</h3>
            {% else %} <!-- user va consulter la liste de leur sujet -->
                <h3> La liste du mes sujets :</h3>
            {% endif %}
            <br>
            {% for sujet in sujets %}
                <!-- POST -->
                <div class="post">
                    <div class="wrap-ut pull-left">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="{{ asset('uploads/avatar/'~sujet.User.avatar) }}" alt="" style=" height:5vw ;  max-height: 5vw; max-width:5vw;" />
                            </div>

                            <div class="icons">
                                {% if sujet.User.roles[0] == "ROLE_ADMIN" %}
                                    <img src="{{ asset('forum/commentaire/images/middle.jpg') }}" alt="" />
                                {% endif %}

                            </div>

                        </div>
                        <div class="posttext pull-left">
                            <h2><a style="color: #363838;" href="{{ path("consulter_membre",{'id': sujet.user.id} ) }}"> {{  sujet.user.prenom }} {{  sujet.user.nom }} </a></h2>
                            <a style="color: #989c9e;" href="{{ path("consulter_sujet",{'id': sujet.id} ) }}">  {{ sujet.sujetOriginal |raw }} </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfo pull-left">
                        <div class="avatar pull-right dropdown">
                            {% if User != null %}
                                {% if User.id == sujet.User.id %}
                                    <a data-toggle="dropdown" href="#"> <b class="caret"></b>
                                        <ul class="dropdown-menu" role="menu" style="height: auto; width: auto; background-color: white; font-size: 10px; text-decoration: none; ">
                           <!--                 <li style="border-bottom: 0px;" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path("edit_sujet",{'id': sujet.id} ) }}">Modifier</a></li> -->
                                            {% if sujet.resolu == "true" %}
                                                <li style="border-bottom: 0px;" role="presentation"><a style="margin-top: 0px; margin-bottom: 0px;" role="menuitem" tabindex="-1" href="{{ path("sujet_NonResolut",{'id': sujet.id} ) }}">Non Resolu</a></li>
                                            {% else %}
                                                <li style="border-bottom: 0px;" role="presentation"><a style="margin-top: 0px; margin-bottom: 0px;" role="menuitem" tabindex="-1" href="{{ path("sujet_Resolut",{'id': sujet.id} ) }}">Resolu</a></li>
                                            {% endif %}
                                            {% if sujet.open == "true" %}
                                                <li style="border-bottom: 0px;" role="presentation"><a style="margin-top: 0px; margin-bottom: 0px;" role="menuitem" tabindex="-2" href="{{ path("sujet_Fermer",{'id': sujet.id} ) }}">Fermer</a></li>
                                            {% else %}
                                                <li style="border-bottom: 0px;" role="presentation"><a style="margin-top: 0px; margin-bottom: 0px;" role="menuitem" tabindex="-2" href="{{ path("sujet_Ouvert",{'id': sujet.id} ) }}">Ouvert</a></li>
                                            {% endif %}
                                            <li style="border-bottom: 0px;" role="presentation"><a style="margin-top: 0px; margin-bottom: 0px;" href="#myModal" class="trigger-btn" data-toggle="modal" role="menuitem" tabindex="-3" >Supprimer</a></li>


                                            <!--    <li style="border-bottom: 0px;" role="presentation"><a role="menuitem" tabindex="-2" href="{{ path("supprimer_sujet",{'id': sujet.id} ) }}">Supprimer</a></li> -->
                                        </ul>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if User != null %}
                            {% if User.id == sujet.User.id %}
                                {% if sujet.resolu == "true" %}
                                    <div class="views"> <img style="width: 30px; height: 30px; margin-left: 45px;" src="{{ asset('forum/publication/images/resolut.png') }}" alt="" /> </div>
                                {% else %}
                                    <div class="views"> <img style="width: 30px; height: 30px; margin-left: 45px;" src="{{ asset('forum/publication/images/nonresolut.png') }}" alt="" /> </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if User != null %}
                            {% if User.id != sujet.User.id %}
                                {% if sujet.resolu == "true" %}
                                    <div class="views"> <img style="width: 30px; height: 30px; " src="{{ asset('forum/publication/images/resolut.png') }}" alt="" /> </div>
                                {% else %}
                                    <div class="views"> <img style="width: 30px; height: 30px; " src="{{ asset('forum/publication/images/nonresolut.png') }}" alt="" /> </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if User == null %}
                                {% if sujet.resolu == "true" %}
                                    <div class="views"> <img style="width: 30px; height: 30px; " src="{{ asset('forum/publication/images/resolut.png') }}" alt="" /> </div>
                                {% else %}
                                    <div class="views"> <img style="width: 30px; height: 30px; " src="{{ asset('forum/publication/images/nonresolut.png') }}" alt="" /> </div>
                                {% endif %}
                        {% endif %}

                        <div class="comments">
                            {% for NbReponse in NbReponses %}
                                {% if NbReponse.sujet == sujet %}
                                    <div class="commentbg">
                                        {{ NbReponse.NbReponseC }}
                                        <div class="mark"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="views"><i class="fa fa-eye"></i> {{ sujet.nbviews }}</div>
                        <div class="time"><i class="fa fa-clock-o"></i> {{ sujet.dateoriginal | date("y/m/d") }}</div>

                    </div>
                    <div class="clearfix"></div>
                </div><!-- POST -->

                <!-- Modal HTML  pour confimrer la suppression -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content" style="width: 500px;">
                            <div class="modal-header">
                                <div class="icon-box">
                                    <i class="material-icons">&#xE5CD;</i>
                                </div>
                                <h4 class="modal-title">Voulez vous supprimer ce sujet?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Voulez-vous vraiment supprimer ce sujet? Ce processus ne peut pas être annulé.</p>
                            </div>
                            <div class="">
                                <button type="button" class="btnconfirm btn-info" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btnconfirm btn-danger"> <a style="color: white;" href="{{ path("sujet_Archiver",{'id': sujet.id} ) }}">Supprimer </a></button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            <div class="text-center">{{ knp_pagination_render(sujets) }}</div>

        </div>



    {% if message == "show" %}
        <!-- Modal HTML  pour confimrer la suppression -->
        <div id="myModalMessage" class="modal " style="display: block">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content" style="width: 500px;">
                    <div class="modal-header">
                        <div class="icon-box" style="border: 3px solid #82ce34;">
                            <i class="material-icons" style="color: #82ce34;">&#xE876;</i>
                        </div>
                        <h4 class="modal-title">Bien!</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Opération a été fait avec succés.</p>
                    </div>
                    <div class="modal-footer">
                        <button id="closebtn" style="background: #82ce34;" type="button" class="btnconfirm btn-danger" data-dismiss="modal" onclick="Close();">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <script type="text/javascript" src="{{ asset('forum/modelbox/script.js') }}"> </script>

    <script>
        function Close() {
            $('#myModalMessage').hide();
            {% set message = 'hide' %}
            console.log('{{ message }}');
        };

        $( document ).ready(function(){
            if ( '{{ errorsString}}' != "") {
                $('.cke_inner').css("border", "2px solid #ef5350");
            }
        });

    </script>

{% endblock %}


