{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
<img src="{{ asset('uploads/avatar/'~user.avatar) }}"  height="100px" width="100px">
{{ form_row(form.avatar) }}
{{ form_row(form.nom) }}
{{ form_row(form.prenom) }}
{{ form_row(form.email) }}
{{ form_row(form.tel) }}
{{ form_row(form.current_password) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
