<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin dahsboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Admin/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{ asset('base/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ asset('Admin/vendors/css/vendor.bundle.addons.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('Admin/css/style.css') }}">
    <!-- endinject -->
    <link rel="icon" type="image/x-icon"  href="{{ asset('favicon.ico') }}">
</head>
{% endblock %}
<body>


<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html">
                <img src="{{ asset('Admin/images/logo.png') }}" alt="logo" width="300" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="index.html">
                <img src="{{ asset('Admin/images/logo-mini.png') }}" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell"></i>
                        <span id="nbnotif" class="count" data-count=""></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <ul id="ajax-results">
                            <li>
                                <a class="dropdown-item preview-item" >
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                                        <p class="font-weight-light small-text">
                                            Just now
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-xl-inline-block">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="profile-text">{{ user.nom }} {{ user.prenom }}</span>
                        <img class="img-xs rounded-circle" src="{{ asset('uploads/avatar/'~user.avatar) }}" alt="Profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <a class="dropdown-item mt-2" href="{{ path('profile_admin')}}">
                            Compte
                        </a>
                        <a class="dropdown-item " href="{{ path('fos_user_profile_edit')}}">
                            Edit compte
                        </a>
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout')}}">
                            Déconnecter
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->

    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <div class="user-wrapper">
                            <div class="profile-image">
                                <img src="{{ asset('uploads/avatar/'~user.avatar) }}" alt="profile image">
                            </div>
                            <div class="text-wrapper">
                              <p class="profile-name">{{ user.nom }} {{ user.prenom }} </p>
                                <div>
                                    <small class="designation text-muted">Admin</small>
                                    <span class="status-indicator online"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('admin_home') }}>
                        <i class="menu-icon mdi mdi-television"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('list_user/admin') }} >
                        <i class="menu-icon mdi mdi-account-multiple"></i>
                        <span class="menu-title">Gérer Membre</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ path('admin_forum') }} >
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Gérer Forum</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Gérer Plante</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('conulter')}}">Liste plante</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('planteadd') }}">Ajouter plante</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('propad') }}">consulter proposition plante</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('archive') }}">archive des proposition plante</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('conscom')}}">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Gérer commande</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic-depot" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Gérer Depôt</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic-depot">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ asset('Admin/pages/ui-features/buttons.html') }}">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ asset('Admin/pages/ui-features/typography.html') }}">Typography</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Gérer Avis</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ asset('Admin/pages/ui-features/buttons.html') }}">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ asset('Admin/pages/ui-features/typography.html') }}">Typography</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic-" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Gérer reclamation</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ asset('Admin/pages/ui-features/buttons.html') }}">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ asset('Admin/pages/ui-features/typography.html') }}">Typography</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic-ev" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Gérer Evénement</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic-ev">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('pageev')}}">Liste des événements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ajouterev') }}">Créer un Evénement</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        {% block content %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row" id="div_chart">
                </div>
                <div class="row" id="div_chart1">
                </div>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(bar, 'div_chart') }}
                </script>


                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(pie, 'div_chart1') }}
                </script>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © {{ "now"|date("Y") }}
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        {% endblock %}
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
{% block script %}
<script src="{{ asset('Admin/vendors/js/vendor.bundle.base.js') }}"></script>
<script src="{{ asset('Admin/vendors/js/vendor.bundle.addons.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{{ asset('Admin/js/off-canvas.js') }}"></script>
<script src="{{ asset('Admin/js/misc.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{{ asset('Admin/js/dashboard.js') }}"></script>
<!-- End custom js for this page-->

    <script>
        $(document).ready(function(){
            getNotifications();
        });

        function getNotifications() {

            //call ajax
            $.ajax({
                url: '{{ (path('notification_user')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "some_var_name": "some_var_value"
                },
                async: true,
                success: function (data) {
                    console.log(data)
                    $('#ajax-results').empty();
                    //$('#nbnotif').data('count', data.count);
                    //$("#nbnotif").attr("data-count" , data.count);
                    document.getElementById("nbnotif").textContent= data.count +1;
                    data.notifications.forEach(function (item) {
                        console.log(item);

                        $('#ajax-results').append("<li style='list-style-type:none;'> <a class='dropdown-item preview-item' > <div class='preview-item-content'><h6 class='preview-subject font-weight-medium text-dark'>"+item.title+"</h6><p class='font-weight-light small-text'>"+item.description+"</p> </div> </a> </li>");

                    });


                }

            });
            setTimeout('getNotifications()', 5000);
        }
    </script>
{% endblock %}
</body>
</html>