<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% block stylesheets %}
            <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'/>
            <link href="{{ asset('Base/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="/site.webmanifest">
            <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
    <head>
        <style>
        .w3-green {
             color: #fff!important;
             background-color: #4CAF50!important;
         }
        .w3-red {
            color: #fff!important;
            background-color: #af0820 !important;
        }
        .w3-panel {
            margin-top: 26px;
            margin-bottom: 26px;
            display: block;
            font-family: Verdana,sans-serif;
            font-size: 20px;
            line-height: 1.5;
        }
        .w3-panel {
            padding: 0.01em 26px;
        }
        w3-panel:before,w3-panel:after, w3-green:before,w3-green:after{box-sizing: inherit;}
    </style>
    {% endblock %}
</head>
<body>
{% block header %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="header">
                <div class="container">
                    <div class="header-top">
                        <div class="logo">
                            <a href="{{ path('homepage') }}"><img src="{{ asset('Base/images/logo.png') }}" alt="GrandVert" width="430px"></a>
                        </div>
                        <div class="search-in">
                            <div class="header-grid">
                                <ul>
                                    <li class="in-up" ><a href="{{ path('profile_user')}}" class="scroll"> compte </a> <label>|</label></li>
                                    <li class="in-up" ><a href="{{ path('fos_user_profile_edit')}}" class="scroll"> edit </a> <label>|</label></li>
                                    <li class="in-up" ><a href="{{ path('mes_sujets')}}" class="scroll"> Mes Sujets </a> <label>|</label></li>
                                    <li ><a href="{{ path('fos_user_security_logout')}}" class="scroll">Déconnection</a></li>
                                </ul>
                            </div>
                            <div class="search-top">
                                <div class="search">
                                    <form  method="POST" action="{{ path('result') }}">
                                        <input type="text" id="tags" placeholder="Recherche" list="json-datalist" name="nom">
                                        <datalist id="json-datalist">
                                        </datalist>
                                        <input type="submit"  value="">
                                    </form>
                                </div>
                                <div class="cart">
                                    <a href="{{ path('panier')}}" class="cart-in"> </a>
                                    <span> {{ app.session.get('panier')|length }}</span>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-bottom-bottom">
                        <div class="top-nav">
                            <span class="menu"> </span>
                            <ul>
                                <li><a href="{{ path('planteaff')}}" > plante</a></li>
                                <li><a href="{{ path('afficher_categorie') }}" >Forum</a></li>
                                <li><a href="contact.html" > Evénemenet </a></li>
                                <li><a href="{{ path('commande') }}">Commande</a></li>
                                <li><a href="contact.html" > Contact </a></li>

                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="header">
                <div class="container">
                    <div class="header-top">
                        <div class="logo">
                            <a href="{{ path('homepage') }}"><img src="{{ asset('Base/images/logo.png') }}" alt="GrandVert" width="430px"></a>
                        </div>
                        <div class="search-in">
                            <div class="header-grid">
                                <ul>
                                    <li class="in-up" ><a href="{{ path('fos_user_security_login') }}" class="scroll"> Sign in </a> <label>|</label></li>
                                    <li ><a href="{{ path('fos_user_registration_register') }}" class="scroll">Sign up</a></li>
                                </ul>
                            </div>
                            <div class="search-top">
                                <div class="search">
                                    <form  method="POST" action="{{ path('result') }}">
                                        <input type="text" id="tags" placeholder="Recherche" list="json-datalist">
                                        <datalist id="json-datalist">
                                        </datalist>
                                        <input type="submit"  value="">
                                    </form>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-bottom-bottom">
                        <div class="top-nav">
                            <span class="menu"> </span>
                            <ul>
                                <li><a href="{{ path('planteaff')}}" > plante</a></li>
                                <li><a href="{{ path('afficher_categorie') }}" >Forum</a></li>
                                <li><a href="services.html" > partage expérience </a></li>
                                <li><a href="contact.html" > Evénemenet </a></li>
                                <li><a href="contact.html" > Contact </a></li>
                            </ul>
                            <script>
                                $("span.menu").click(function(){
                                    $(".top-nav ul").slideToggle(500, function(){
                                    });
                                });
                            </script>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% block content %}

{% endblock content %}

{% block footer %}

<div class="footer">
    <div class="container">
        <p class="footer-grid">Copyright &copy; 2019 Template by  <a href="#" target="_blank">Behinds The Machines</a> </p>
    </div>
</div>
{% endblock footer %}
{% block javascripts %}
    <script>
        //call ajax
        var ajax=new XMLHttpRequest();
        var method="GET";
        var data;
        var dataList = document.getElementById('json-datalist');
        var input = document.getElementById('tags');
        var url="{{ asset('ajax/data.php') }}";
        var asynchronous=true;
        ajax.open(method,url,asynchronous);
        // sending ajax
        ajax.send();
        // receiving response from data.php
        ajax.onreadystatechange= function () {
            if(this.readyState ==4 &&this.status==200)
                 data=JSON.parse(this.responseText);
            data.forEach(function (item) {
                console.log(item);
                var option=document.createElement('option')
                option.value=item.nom;
                dataList.appendChild(option);
            });
                console.log(data);
        };

    </script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="{{ asset('Base/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('forum/modelbox/script.js') }}"> </script>
{% endblock %}
</body>
</html>
