{% extends 'admin_dashboard.html.twig' %}
{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/navmenu/styles.css' }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/portfolio.jquery.css' }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/fonticons.css' }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/style.css' }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/fonts/stylesheet.css' }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css' }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css' }}" rel="stylesheet">
    <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


    <!--For Plugins external css-->
    <link rel="stylesheet" href="{{ 'assets/css/plugins.css' }}" rel="stylesheet">

    <!--Theme custom css -->
    <link rel="stylesheet" href="{{ 'assets/css/style.css' }}" rel="stylesheet">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{{ 'assets/css/responsive.css' }}" rel="stylesheet">
        <div class="main-nav navbar-collapse collapse">
        <main class="site-main category-main">
        <div class="container">

        <div class="row">
            <section class="category-content col-sm-9">
                <h2 class="category-title">Les évévements</h2>

                <ul class="media-list" id="myUL">
                    {% for Evenement in Evenements %}
                        {% if Evenement.etat==0 and Evenement.confa==0 %}

                            <li class="media" >
                                <div class="media-left">
                                    <a href="#" title="Post">
                                        <img class="media-object" src="{{ asset('uploads/avatar/'~Evenement.image) }}" width="250" alt="Post">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="" title="Titre">Titre :{{ Evenement.titre }}</a></h3>
                                    <h4 class="media-heading">Catégorie :{{ Evenement.categorie }}</h4>
                                    <h4 class="media-heading">Organisé par:{{ Evenement.organisation }}</h4>
                                    <h4 class="media-heading">Dans :{{ Evenement.Lieu }}</h4>
                                    <h4 class="media-heading">Date Début :{{ Evenement.dated | date('d-m-Y à H:i') }}</h4>
                                    <h4 class="media-heading">Date fin :{{ Evenement.datef | date('d-m-Y  à H:i') }}</h4>
                                    <br>
                                    <br>
                                    <aside class="meta category-meta">
                                        <div class="pull-left">
                                            <div class="arc-comment"><i class="fa fa-comments"></i> </div>
                                        </div>
                                        <div class="pull-left">

                                            <a href="{{ path('confirmerev',{'id':Evenement.id })}}"> <button  >Confirmer</button></a>

                                        </div>
                                        <div class="pull-right">
                                            <ul class="arc-share">
                                                <li><a href="#" title="Post"><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </aside>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
        </div>
        </main>
        </div>


{% endblock %}