{% extends 'admin_dashboard.html.twig' %}
{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="w3-panel w3-green" >
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <h3> Créer Un Espace De Préservation</h3>

                    {{ form_start(Form ,{'attr': {'class': 'forms-sample'}}) }}

                    {{ form_row(Form.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(Form.capacity, {'attr': {'class': 'form-control'}})}}
                    {{ form_row(Form.lieu, {'attr': {'class': 'form-control'}}) }}
                   <br>


                    <div>



                        <input type="submit" value="Créer" />

                    </div>

                    {{ form_end(Form) }}
                    <br>

                    <ul>
                        <li>
                            <h4>  <a href="{{ path('list') }}">Liste Des Espaces De Préservation</a> </h4>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
        </div>
    </footer>
    </div>
{% endblock %}